<?xml version="1.0" encoding="utf-8"?>
<ElasticSearchConfig majorVersion="1" minorVersion="18">
  <ConnectionPool PoolSize="50" LifetimeMinutes="60">
    <SocketSettings>
      <SendBufferSize>8192</SendBufferSize>
      <ReceiveBufferSize>8192</ReceiveBufferSize>
      <SendTimeout>10000</SendTimeout>
      <ReceiveTimeout>10000</ReceiveTimeout>
      <ConnectTimeout>3000</ConnectTimeout>
    </SocketSettings>
  </ConnectionPool>
  <Clusters>
    <Cluster Name="Prod">
      <TransportType>Thrift</TransportType>
      <ThriftNodes>
        <Node Host="10.22.1.47" Port="9500" Enabled="true" IsFramed="false" EnablePool="true" >
          <ConnectionPool PoolSize="60" LifetimeMinutes="60">
            <SocketSettings>
              <SendBufferSize>8192</SendBufferSize>
              <ReceiveBufferSize>8192</ReceiveBufferSize>
              <SendTimeout>10000</SendTimeout>
              <ReceiveTimeout>10000</ReceiveTimeout>
              <ConnectTimeout>3000</ConnectTimeout>
            </SocketSettings>
          </ConnectionPool>
        </Node>
      </ThriftNodes>      
    </Cluster>
    <Cluster Name="localhost">
      <TransportType>Thrift</TransportType>
      <ThriftNodes>
        <Node Host="localhost" Port="9500" Enabled="true" IsFramed="false" EnablePool="true" >          
        </Node>
      </ThriftNodes>      
    </Cluster>
  </Clusters>  
</ElasticSearchConfig>