<?xml version="1.0" encoding="utf-8"?>
<ElasticSearchConfig>  
  <Clusters>
    <Cluster Name="Prod">
      <TransportType>Thrift</TransportType>
      <ThriftNodes>
        <Node Host="127.0.0.1" Port="9500" Enabled="true" IsFramed="false" >        
        </Node> 
        <Node Host="127.0.0.1" Port="9500" Enabled="true" IsFramed="false" >        
        </Node>
      </ThriftNodes>      
    </Cluster>
    <Cluster Name="localhost">
      <!--Thrift OR Http-->
      <TransportType>Thrift</TransportType>
      <HttpNodes>
        <Node Host="localhost" Port="9200" Enabled="true"  >          
        </Node>
      </HttpNodes>
      <ThriftNodes>
        <Node Host="127.0.0.1" Port="9500" Enabled="true" IsFramed="false" >
        </Node>
      </ThriftNodes>
    </Cluster>
  </Clusters>  
</ElasticSearchConfig>