<?xml version="1.0" encoding="utf-8"?>
<ElasticSearchConfig majorVersion="1" minorVersion="18">
  <TransportType>Thrift</TransportType>
  <ConnectionPool PoolSize="50" LifetimeMinutes="60">
    <SocketSettings>
      <SendBufferSize>8192</SendBufferSize>
      <ReceiveBufferSize>8192</ReceiveBufferSize>
      <SendTimeout>10000</SendTimeout>
      <ReceiveTimeout>10000</ReceiveTimeout>
      <ConnectTimeout>3000</ConnectTimeout>
    </SocketSettings>
  </ConnectionPool>
  <ThriftNodes>
    <Node Host="localhost" Port="9500" Enabled="true" IsFramed="false" EnablePool="true" >
      <ConnectionPool PoolSize="60" LifetimeMinutes="60">
        <SocketSettings>
          <SendBufferSize>8192</SendBufferSize>
          <ReceiveBufferSize>8192</ReceiveBufferSize>
          <SendTimeout>10000</SendTimeout>
          <ReceiveTimeout>10000</ReceiveTimeout>
          <ConnectTimeout>3000</ConnectTimeout>
        </SocketSettings>
      </ConnectionPool>
    </Node>
    <Node Host="10.1.1.1" Port="9500" Enabled="false" IsFramed="false" EnablePool="true" />
    <Node Host="10.1.1.2" Port="9500" Enabled="false" IsFramed="false" EnablePool="false" />
  </ThriftNodes>
  <HttpNodes>
    <Node Host="localhost" Port="9200" Enabled="true" />
    <Node Host="localdev" Port="9200" Enabled="false" />
  </HttpNodes>
</ElasticSearchConfig>